<div class="flex flex-row text-start">
  <div class="grow">
    <span class="text-3xl">{{ displayedName }}</span> <br />
    <span
      ><em>{{ displayedLocation }}</em></span
    >
  </div>
  <div class="grow-0" [ngClass]="{hidden: isFormShown}">
    <button class="btn" (click)="startEditHandler()">Edit</button>
  </div>
</div>

<div class="container" [ngClass]="{hidden: !isFormShown}">
  <form [formGroup]="cinemaForm" (ngSubmit)="submitHandler()">
    <div class="flex flex-col space-y-2 my-5">
      <div class="form-control">
        <label class="input-group">
          <span class="w-24">Name*</span>
          <input class="input input-bordered w-96" formControlName="name" />
        </label>
      </div>
      <div class="form-control">
        <label class="input-group">
          <span class="w-24">Location</span>
          <input class="input input-bordered w-96" formControlName="location" />
        </label>
      </div>
    </div>
    <div class="bg-base-200 p-2 rounded-b-md space-x-2 text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-error" (click)="cancelHandler()">Cancel</button>
    </div>
  </form>
</div>
