<div class="flex flex-row items-center" *ngIf="!isFormShown">
  <div class="flex flex-row w-full items-center">
    <div class="font-bold p-1 text-center">
      {{ schedule.startTime | date: "shortTime" }} - {{ schedule.endTime | date: "shortTime" }}
    </div>
    <div class="grow px-3">{{ (movie$ | async)?.title }}</div>
    <div class="px-2">{{ schedule.ticketPrice }} PHP</div>
  </div>
  <app-edit-delete-buttons
    (onEditClick)="editHandler()"
    (onDeleteClick)="deleteHandler()"
  ></app-edit-delete-buttons>
</div>
<div *ngIf="isFormShown">
  <form [formGroup]="scheduleForm">
    <div class="flex flex-row">
      <div class="flex flex-col w-full">
        <select class="select select-bordered" formControlName="time">
          <option disabled selected>Select Start Time</option>
          <option *ngFor="let item of startTimeOptions" [value]="item | date: 'mediumTime'">
            {{ item | date: "shortTime" }}
          </option>
        </select>
        <select class="select select-bordered" formControlName="movie">
          <option value="" disabled selected>Select Movie</option>
          <option *ngFor="let movie of movies" [value]="movie.id">
            {{ movie.title }}
          </option>
        </select>
        <select class="select select-bordered" formControlName="price">
          <option value="" disabled selected>Select Price</option>
          <option value="200">200</option>
        </select>
      </div>
      <app-submit-cancel-buttons (onCancelClick)="cancelHandler()"> </app-submit-cancel-buttons>
    </div>
  </form>
</div>
