<div class="flex flex-row items-center" *ngIf="!isFormShown">
  <div class="flex flex-row w-full items-center">
    <div class="font-bold p-1 text-center">
      {{ schedule.startTime | date: "shortTime" }} - {{ schedule.endTime | date: "shortTime" }}
    </div>
    <div class="grow px-3">{{ (movie$ | async)?.title }}</div>
    <div class="px-2">{{ schedule.ticketPrice }} PHP</div>
  </div>
  <app-edit-delete-buttons
    (onEditClick)="editHandler()"
    (onDeleteClick)="deleteHandler()"
  ></app-edit-delete-buttons>
</div>
<div *ngIf="isFormShown">
  <form>
    <div class="flex flex-row">
      <div class="flex flex-col w-full">
        <select class="select select-bordered">
          <option selected>11:15 AM</option>
        </select>
        <select class="select select-bordered">
          <option selected>Everything, Everywhere All At Once</option>
        </select>
        <select class="select select-bordered">
          <option>200</option>
        </select>
      </div>
      <app-submit-cancel-buttons (onCancelClick)="cancelHandler()"> </app-submit-cancel-buttons>
    </div>
  </form>
</div>
