<div class="flex flex-row items-center" *ngIf="!isFormShown">
  <div class="flex flex-row w-full items-center">
    <div class="font-bold p-1 text-center">
      {{ schedule.startTime | date: "shortTime" }} - {{ schedule.endTime | date: "shortTime" }}
    </div>
    <div class="grow px-3">{{ (movie$ | async)?.title }}</div>
    <div class="px-2">{{ schedule.ticketPrice }} PHP</div>
  </div>
  <app-edit-delete-buttons
    (onEditClick)="editHandler()"
    (onDeleteClick)="deleteHandler()"
  ></app-edit-delete-buttons>
</div>
<app-schedule-form
  *ngIf="isFormShown"
  [schedule]="schedule"
  [schedules]="schedules"
  [movies]="movies$ | async"
  (onCancel)="cancelHandler()"
  (onSubmit)="submitHandler($event)"
></app-schedule-form>
