<div class="bg-neutral-800 w-full p-6 border border-neutral-700 rounded-md">
  <div class="flex flex-row space-x-5 items-center">
    <div class="basis-10/12">
      <sl-icon name="house-door-fill" class="mr-2 text-xl"></sl-icon>
      {{ cinemaItem.name }}
    </div>
    <div class="flex flex-row space-x-2">
      <sl-button type="button" variant="primary" outline (click)="manageHandler()">Manage</sl-button>
      <sl-button type="button" variant="danger" outline>Delete</sl-button>
    </div>
  </div>
</div>
