<div class="btn-group flex justify-center">
  <button
    class="btn"
    type="button"
    [ngClass]="{ 'btn-disabled': !isPreviousActive }"
    (click)="onPreviousClick()"
  >
    Previous
  </button>
  <button
    class="btn"
    type="button"
    [ngClass]="{ 'btn-active': item.isActive }"
    *ngFor="let item of displayedIndexes"
    (click)="!item.isActive && onPageClick(item.pageNumber)"
  >
    {{ item.pageNumber }}
  </button>
  <button
    class="btn"
    type="button"
    [ngClass]="{ 'btn-disabled': !isNextActive }"
    (click)="onNextClick()"
  >
    Next
  </button>
</div>
