sl-icon-button::part(base) {
  color: var(--sl-color-primary-200);
}

sl-icon-button:hover::part(base) {
  color: var(--sl-color-primary-500);
}

sl-icon-button.add::part(base) {
  color: var(--sl-color-success-200);
}

sl-icon-button.add:hover::part(base) {
  color: var(--sl-color-success-500);
}

sl-icon-button.remove::part(base) {
  color: var(--sl-color-danger-200);
}

sl-icon-button.remove:hover::part(base) {
  color: var(--sl-color-danger-500);
}
