<span class="text-3xl">Edit Cinema</span>

<div>
  Cinema Details:
  <form [formGroup]="editCinemaForm">
    <input
      class="input input-bordered"
      name="name"
      placeholder="Name"
      formControlName="name"
    />
    <input
      class="input input-bordered"
      name="location"
      placeholder="Location"
      formControlName="location"
    />

    <button class="btn btn-primary" type="submit">Save</button>
  </form>
</div>

<div class="flex flex-col my-5 space-y-4 mt-10">
  Cinema Rooms:

  <!-- Display List of rooms -->
  <ul class="space-y-4">
    <li *ngFor="let item of cinemaRooms">
      <app-room-item [room]="item"></app-room-item>
    </li>
  </ul>

  <!-- new cinema room block -->
  <app-add-room-item></app-add-room-item>
</div>
