<div
  class="w-full flex flex-row items-center"
  [ngClass]="{ hidden: isEditing }"
>
  <div class="w-full">
    {{ room.name }}
  </div>
  <app-edit-delete-buttons
    (onEditClick)="editHandler()"
    (onDeleteClick)="deleteHandler()"
  ></app-edit-delete-buttons>
</div>
<div
  class="w-full"
  [ngClass]="{ hidden: !isEditing }"
>
  <form [formGroup]="roomForm" (ngSubmit)="submitHandler()">
    <div class="w-full flex flex-row items-center">
      <div class="w-full">
        <input class="input input-bordered" formControlName="name" />
      </div>

      <app-submit-cancel-buttons (onCancelClick)="cancelEditingHandler()" ></app-submit-cancel-buttons>
    </div>
  </form>
</div>
