<span class="text-3xl">Add Cinema Room Schedule</span>

<form>
  <div class="form-control">
    <label class="input-group">
      <span>Cinema</span>
      <select class="select select-no-outline select-bordered w-full max-w-xs">
        <option disabled selected>Select Cinema</option>
        <option *ngFor="let cinema of cinemas$ | async">
          {{ cinema.name }}
        </option>
      </select>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group">
      <span>Room</span>
      <select class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select Room</option>
        <option *ngFor="let room of cinemaRoom$ | async">
          {{ room.name }}
        </option>
      </select>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group">
      <span>Movies</span>
      <select class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select Movie</option>
        <option *ngFor="let movie of movies$ | async">
          {{ movie.title }}
        </option>
      </select>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group">
      <span>Day of Week</span>
      <select class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select Day of Week</option>
        <option *ngFor="let day of daysOfWeek">
          {{ day }}
        </option>
      </select>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group">
      <span class="rounded-r-none rounded-b-none">Time</span>
      <select class="select select-bordered rounded-none">
        <option>00</option>
        <option>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
        <option>05</option>
        <option>06</option>
        <option>07</option>
        <option>08</option>
        <option>09</option>
        <option>10</option>
        <option>11</option>
      </select>
      <select class="select select-bordered rounded-none">
        <option>00</option>
        <option>15</option>
        <option>30</option>
        <option>45</option>
      </select>
      <select class="select select-bordered">
        <option selected>AM</option>
        <option>PM</option>
      </select>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group">
      <span>Ticket Price</span>
      <select class="select select-bordered w-full max-w-xs">
        <option disabled selected>Select Ticket Price</option>
        <option *ngFor="let price of ticketPrices">
          {{ price }}
        </option>
      </select>
    </label>
  </div>
</form>
