<span class="text-3xl">Add Cinema Room Schedule</span>

<form [formGroup]="newScheduleForm" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label class="input-group">
      <span>Cinema</span>
      <select class="select select-bordered" formControlName="cinema">
        <option value="" disabled selected>Select Cinema</option>
        <option *ngFor="let cinema of cinemas$ | async" [value]="cinema.id">
          {{ cinema.name }}
        </option>
      </select>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group">
      <span>Room</span>
      <select class="select select-bordered" formControlName="room">
        <option value="" disabled selected>Select Room</option>
        <option *ngFor="let room of cinemaRoom$ | async" [value]="room.id">
          {{ room.name }}
        </option>
      </select>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group">
      <span>Movies</span>
      <select class="select select-bordered" formControlName="movie">
        <option value="" disabled selected>Select Movie</option>
        <option *ngFor="let movie of movies$ | async" [value]="movie.id">
          {{ movie.title }}
        </option>
      </select>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group">
      <span>Day of Week</span>
      <select class="select select-bordered" formControlName="dayOfWeek">
        <option *ngFor="let day of daysOfWeek; index as i" [value]="i">
          {{ day }}
        </option>
      </select>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group">
      <span class="rounded-r-none rounded-b-none">Time</span>
      <select
        class="select select-bordered rounded-none"
        formControlName="timeHour"
      >
        <option *ngFor="let hour of timeHour; index as i" [value]="i">
          {{ hour }}
        </option>
      </select>
      <select
        class="select select-bordered rounded-none"
        formControlName="timeMinutes"
      >
        <option *ngFor="let minutes of timeMinutes; index as i" [value]="i">
          {{ minutes }}
        </option>
      </select>
      <select class="select select-bordered" formControlName="timePeriod">
        <option *ngFor="let period of timePeriod; index as i" [value]="i">
          {{ period }}
        </option>
      </select>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group">
      <span>Ticket Price</span>
      <input class="input input-bordered" formControlName="ticketPrice" placeholder="200">
      <!-- <select class="select select-bordered" formControlName="ticketPrice">
        <option disabled selected>Select Ticket Price</option>
        <option *ngFor="let price of ticketPrices; index as i" [value]="i">
          {{ price }}
        </option>
      </select> -->
    </label>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!newScheduleForm.valid"
  >
    Add Schedule
  </button>
</form>
