<app-week-calendar [activeDayOffset]="(activeDayIndex$ | async) ?? 0" (onDayItemClick)="dayItemClickHandler($event)"></app-week-calendar>

<div class="overflow-x-auto mt-10">
  <table class="table w-full">
    <thead>
      <tr>
        <td>
          <div class="flex flex-row items-center">
            <div class="w-44 text-center">Time</div>
            <div class="grow pl-5">Movie</div>
            <div class="w-16">Price</div>
            <div class="w-16"></div>
          </div>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let schedule of schedules$ | async">
        <td>
          <app-schedule-detail-item
            [schedule]="schedule"
            [schedules]="schedules$ | async"
          ></app-schedule-detail-item>
        </td>
      </tr>
    </tbody>
  </table>
</div>
