<h1 class="text-3xl">Search Movie</h1>

<app-search-movie-form></app-search-movie-form>

<!-- Display Results -->
<div
  class="max-w-5xl mx-auto flex flex-col space-y-3"
  *ngIf="searchResults != undefined"
>
  <app-search-movie-item *ngFor="let item of searchResults" [resultItem]="item">
  </app-search-movie-item>
</div>

<!-- Pages -->
<div class="my-10" *ngIf="searchResults.length > 0">
  <app-pagination
    [maxPage]="maxPage"
    [currentPage]="currentPage"
    [windowCount]="2"
    (onPageItemClick)="onPagedSearchMovie($event)"
  ></app-pagination>
</div>
