<div
  class="bg-neutral-900 shadow shadow-black rounded-md container overflow-hidden hover:bg-neutral-800/20 transition"
>
  <div class="flex flex-row">
    <img
      class="object-cover w-40 h-60 flex-none"
      src="{{ posterImageUrl }}"
      alt="{{ movieItem.title }}"
    />
    <div class="flex-grow p-5">
      <div class="flex flex-row">
        <div class="flex-grow">
          <p class="text-2xl font-semibold">{{ movieItem.title }}</p>
          <p class="text-sm items-center">
            <sl-icon name="calendar3"></sl-icon> {{ movieItem.releaseDate }}
          </p>
        </div>
      </div>
      <p class="text-neutral-400 text-sm pt-5">
        {{ movieItem.overview }}
      </p>
    </div>
  </div>
</div>
