/* You can add global styles to this file, and also import other style files */

.card figure {
  align-items: unset;
}

.input-group .select:focus,
.input-group .input:focus {
  outline: none;
}

.main-content {
  @apply bg-base-100 rounded-lg p-5 w-8/12;
  height: 70vh;
}

/* [data-theme='dark'] body {
  background: linear-gradient(135deg, hsla(224, 75%, 45%, 1) 0%, hsla(324, 75%, 45%, 1) 100%);
}

[data-theme='light'] body {
  background: linear-gradient(135deg, hsla(171, 87%, 67%, 1) 0%, hsla(236, 100%, 72%, 1) 100%);
} */

/* body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
} */

/* input.form-input {
  @apply px-3 py-1.5 text-inherit
        bg-base-100
        rounded border border-solid border-gray-700
        transition ease-in-out
        focus:border-sky-500 focus:ring-sky-500 focus:ring-opacity-50 focus:ring-2 focus:outline-none;
}

input.ng-invalid.ng-touched:focus {
  @apply border-rose-500 ring-rose-500 ring-2 ring-opacity-50;
}  */
