/* You can add global styles to this file, and also import other style files */

/* fix for select items within input groups */
.input-group .select:focus,
.input-group .input:focus {
  outline: none;
}

.main-content {
  @apply bg-base-100 rounded-lg p-5 w-8/12;
  min-height: 70vh;
}

/* background: linear-gradient(135deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);   */
[data-theme='dark'] body {
  background: linear-gradient(180deg, rgb(127, 16, 183) 0%, rgb(31, 17, 139) 100%);  
}

/* background: linear-gradient(135deg, hsla(1, 84%, 80%, 1) 0%, hsla(56, 59%, 67%, 1) 100%); */
[data-theme='light'] body {
  background: linear-gradient(135deg, hsla(1, 84%, 80%, 1) 0%, hsla(56, 59%, 67%, 1) 100%);   
}

/* body {
  background: linear-gradient(135deg, hsla(1, 84%, 80%, 1) 0%, hsla(56, 59%, 67%, 1) 100%);  
} */

/* input.form-input {
  @apply px-3 py-1.5 text-inherit
        bg-base-100
        rounded border border-solid border-gray-700
        transition ease-in-out
        focus:border-sky-500 focus:ring-sky-500 focus:ring-opacity-50 focus:ring-2 focus:outline-none;
}

input.ng-invalid.ng-touched:focus {
  @apply border-rose-500 ring-rose-500 ring-2 ring-opacity-50;
}  */
