<span class="text-3xl">Add Cinema</span>

<div class="max-w-md mx-auto m-10">
  <form class="flex flex-col space-y-2" #targetForm>
    <sl-input name="name" label="Name:" required></sl-input>
    <sl-input name="location" label="Location" required></sl-input>

    <br />
    <span class="text-xl">Rooms</span>
    <div class="flex flex-col max-w-md">
      <!-- initial room name field -->
      <app-room-name-input
        [id]="'room' + (roomInputNames.length + 1)"
        [name]="'room' + (roomInputNames.length + 1)"
        [placeholder]="'room' + (roomInputNames.length + 1)"
        [isRequired]="roomInputNames.length === 0"
        (onSubmitName)="submitRoomNameHandler($event)"
      ></app-room-name-input>
    </div>
    <div class="flex flex-col-reverse max-w-md">
      <!-- entered room name fields -->
      <app-room-name-item
        *ngFor="let item of roomInputNames; index as i"
        [id]="'room' + (i + 1)"
        [name]="'room' + (i + 1)"
        [initialValue]="item.name"
        placeholder="Enter room name"
        (onEdit)="editRoomNameHandler($event)"
        (onRemove)="removeRoomNameHandler($event)"
      ></app-room-name-item>
    </div>

    <div class="flex flex-row pt-5">
      <sl-button type="submit" variant="primary">Add</sl-button>
    </div>
  </form>
</div>
