<div>
  <div class="flex flex-row items-center">
    <div class="bg-base-200/50 grow text-center space-y-5 py-5">
      <span class="text-4xl">{{ movie.title }} ({{ movie.releaseDate | date:'YYYY' }}) </span>
      <div class="flex flex-row justify-center space-x-2">
        <div class="badge badge-accent">Genre</div>
        <div class="badge badge-warning">Rating</div>
      </div>
    </div>
    <div class="mx-2 flex-none w-40">
      <img class="object-cover w-40 rounded-md" src="{{ posterImageUrl }}" />
    </div>

  </div>
  <div>
    <article class="prose">
      <blockquote class="mx-10">
        <p>{{ movie.tagline }}</p>
      </blockquote>
      <p>
        <strong><em>Overview</em></strong> <br>
        {{ movie.overview }}
      </p>
    </article>
  </div>

  <button class="btn btn-primary btn-block" (click)="editHandler()">Edit Details</button>
</div>
