<div>
  <div class="text-center">
    <div class="h-80 rounded-t-md bg-cover" style="background:url({{backdropImageUrl}})">
      <div
        class="h-80 bg-gradient-to-t from-base-100 via-transparent flex flex-row place-items-center"
      >
        <img
          class="object-cover w-36 h-56 ml-5 shadow-2xl shadow-base-100 rounded-md"
          src="{{ posterImageUrl }}"
        />
      </div>
    </div>
    <div class="-translate-y-8">
      <span class="text-4xl">{{ movie.title }} ({{ movie.releaseDate | date: "YYYY" }})</span>
      <div class="flex flex-row justify-center space-x-2 mt-5">
        <div class="badge badge-accent">Genre</div>
        <div class="badge badge-warning">Rating</div>
      </div>
    </div>
  </div>
  <div>
    <article class="prose">
      <blockquote class="mx-10">
        <p>{{ movie.tagline }}</p>
      </blockquote>
      <p>
        <strong
          ><em><span class="prose-xl">Overview</span> </em></strong
        >
        <br />
        {{ movie.overview }}
      </p>
    </article>
  </div>

  <button class="btn btn-primary btn-block mt-4" (click)="editHandler()">Edit Details</button>
</div>
