<div>
  <h1 class="text-5xl">Add Movie</h1>
  <div class="container mx-auto my-10">
    <form>
      <sl-input type="text" placeholder="Enter TMDB ID"></sl-input>
      <sl-button type="button" variant="primary">Get Info</sl-button>
      <div class="container my-10">
        <sl-input type="text" placeholder="Movie Title"></sl-input>
        <sl-textarea placeholder="Description"></sl-textarea>
        <sl-input type="text" placeholder="Movie Rating"></sl-input>
        <sl-input type="text" placeholder="Genre"></sl-input>
        <sl-input type="text" placeholder="Show Date Start"></sl-input>
        <sl-input type="text" placeholder="Show Date End"></sl-input>
        <sl-input type="text" placeholder="Banner Image URL"></sl-input>
        <sl-input type="text" placeholder="Poster Image URL"></sl-input>
      </div>
      <div class="container my-10">
        <sl-button type="submit" variant="primary">Add Movie</sl-button>
      </div>
    </form>
  </div>
</div>
