<div
  class="default-style w-full"
  #container
  [ngClass]="{ 'show-form': isFormShown, 'add-new-item': !isFormShown }"
>
  <!-- add cinema room initial -->
  <div
    class="flex flex-row text-center items-center justify-center p-6"
    [ngClass]="{ hidden: isFormShown }"
    (click)="showFormHandler($event)"
  >
    <sl-icon name="plus-circle-fill" class="m-2"></sl-icon>
    Add New Cinema Room
  </div>

  <!-- add cinema room form -->
  <div class="p-6" [ngClass]="{ hidden: !isFormShown }">
    <form novalidate="false" #targetForm>
      <div class="flex flex-wrap items-end space-y-2">
        <div class="grow flex flex-row flex-wrap space-x-2">
          <sl-input name="name" label="Name" required></sl-input>
        </div>
        <div class="space-x-2">
          <sl-button
            class="flex-none"
            type="submit"
            variant="primary"
            >Add</sl-button
          >
          <sl-button
            class="flex-none"
            type="button"
            variant="danger"
            (click)="cancelHandler()"
            >Cancel</sl-button
          >
        </div>
      </div>
    </form>
  </div>
</div>
