<app-search-movie-form class="w-3/5"
  (onSearch)="searchHandler($event)"
></app-search-movie-form>

<!-- Display Results -->
<div
  class="max-w-5xl mx-auto flex flex-row flex-wrap mt-5"
  *ngIf="(searchResponse$ | async)?.results"
>
  <app-search-movie-item class="m-2 mt-8"
    *ngFor="let item of (searchResponse$ | async)?.results"
    [resultItem]="item"
  >
  </app-search-movie-item>
</div>

<!-- Pages -->
<div class="my-10" *ngIf="(searchResponse$ | async)?.results?.length">
  <app-pagination
    [maxPage]="(searchResponse$ | async)?.total_pages ?? 1"
    [currentPage]="(searchResponse$ | async)?.page ?? 1"
    [windowCount]="2"
    (onPageItemClick)="onPagedSearchMovie($event)"
  ></app-pagination>
</div>
