<div
  class="default-style w-full p-4"
  #container
  [ngClass]="{ 'show-form': isFormShown, 'add-new-item': !isFormShown }"
>
  <div
    class="flex flex-row text-center items-center justify-center"
    [ngClass]="{ hidden: isFormShown }"
    (click)="showFormHandler()"
  >
    <!-- prettier-ignore -->
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mx-1" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
    </svg>
    {{ addLabel }}
  </div>

  <div [ngClass]="{ hidden: !isFormShown }">
    <form [formGroup]="nameForm" (ngSubmit)="submitHandler()">
      <div class="w-full flex flex-row items-center">
        <div class="w-full">
          <input
            class="input input-bordered w-full"
            name="name"
            placeholder="{{ placeholder }}"
            formControlName="name"
          />
        </div>
        <app-submit-cancel-buttons (onCancelClick)="cancelHandler()"></app-submit-cancel-buttons>
      </div>
    </form>
  </div>
</div>
