<form [formGroup]="scheduleForm" (ngSubmit)="submitHandler()">
  <div class="flex flex-row">
    <div class="flex flex-col w-full">
      <select class="select select-bordered" formControlName="time">
        <option value="" disabled selected>Select Start Time</option>
        <option *ngFor="let item of startTimeOptions" [value]="item | date: 'mediumTime'">
          {{ item | date: "shortTime" }}
        </option>
      </select>
      <select class="select select-bordered" formControlName="movie">
        <option value="" disabled selected>Select Movie</option>
        <option *ngFor="let movie of movies" [value]="movie.id">
          {{ movie.title }}
        </option>
      </select>
      <select class="select select-bordered" formControlName="price">
        <option value="" disabled selected>Select Price</option>
        <option *ngFor="let price of ticketPriceOptions" [value]="price">
          {{ price }}
        </option>
      </select>
    </div>
    <app-submit-cancel-buttons (onCancelClick)="cancelHandler()"> </app-submit-cancel-buttons>
  </div>
</form>
