<div
  class="card sm:card-side bg-base-200 shadow shadow-neutral rounded-md overflow-hidden hover:bg-base-300/20 transition"
>
  <figure class="sm:w-40 h-60 w-full flex-none overflow-hidden">
    <img
      class="object-cover w-full h-full"
      src="{{ cardImageUrl }}"
      alt="{{ resultItem.title }}"
    />
  </figure>
  <div class="card-body p-5">
    <h2 class="card-title">{{ resultItem.title }}</h2>
    <p class="text-xs">{{ resultItem.release_date }}</p>
    <p class="text-xs">
      {{ resultItem.overview }}
    </p>
    <div class="card-actions justify-end">
      <button
        class="btn btn-success btn-outline"
        (click)="onAddMovie()"
        *ngIf="!isMovieAdded"
      >
        + Add Movie
      </button>
      <button class="btn btn-success btn-disabled" *ngIf="isMovieAdded">
        Added
      </button>
    </div>
  </div>
</div>
