<div class="w-full">
  <div class="flex flex-row items-center">
    <div class="grow" (click)="clickHandler()">
      <p class="text-lg">{{ title }}</p>
      <p class="text-sm" *ngIf="subtitle !== null">{{ subtitle }}</p>
    </div>
    <div class="flex-none">
      <button
        class="btn btn-link btn-xs text-error/50 hover:text-error/100"
        (click)="deleteHandler()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 000 2h6a1 1 0 100-2H7z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
