Cinema Name: {{ (cinema$ | async)?.name }} <br />
Location: {{ (cinema$ | async)?.location }}

<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th></th>
        <th class="w-full">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms$ | async; index as i">
        <th>{{ i + 1 }}</th>
        <td>
          <app-room-item [room]="room"></app-room-item>
        </td>
      </tr>
      <!-- <tr>
        <td colspan="4" class="bg-rose-500">
          hello
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
