<div class="flex justify-center">
  <ul class="flex space-x-2 list-none">
    <li>
      <sl-button
        type="button"
        variant="text"
        [disabled]="!isPreviousActive"
        (click)="onPreviousClick()"
      >
        Previous
      </sl-button>
    </li>
    <li *ngFor="let item of displayedIndexes">
      <sl-button
        type="button"
        variant="primary"
        [outline]="!item.isActive"
        (click)="!item.isActive && onPageClick(item.pageNumber)"
      >
        {{ item.pageNumber }}
      </sl-button>
    </li>
    <li>
      <sl-button
        type="button"
        variant="text"
        [disabled]="!isNextActive"
        (click)="onNextClick()"
      >
        Next
      </sl-button>
    </li>
  </ul>
</div>
