<div
  class="default-style w-full"
  #container
  [ngClass]="{ 'show-form': isFormShown, 'add-new-item': !isFormShown }"
>
  <!-- add cinema room initial -->
  <div
    class="flex flex-row text-center items-center justify-center p-6"
    [ngClass]="{ hidden: isFormShown }"
    (click)="showFormHandler($event)"
  >
    Add New Cinema Room
  </div>

  <!-- add cinema room form -->
  <div class="p-6" [ngClass]="{ hidden: !isFormShown }">
    <form [formGroup]="targetForm" (ngSubmit)="submitHandler()">
      <div class="flex flex-wrap items-end space-y-2">
        <div class="grow flex flex-row flex-wrap space-x-2">
          <input
            class="input input-bordered"
            name="name"
            placeholder="Room Name"
            formControlName="name"
          />
        </div>
        <div class="space-x-2">
          <button class="btn btn-primary flex-none" type="submit">Add</button>
          <button
            class="btn btn-error flex-none"
            type="button"
            (click)="cancelHandler()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
