<div class="text-2xl mb-5">Edit Details</div>
<form class="space-y-2" [formGroup]="movieForm" (ngSubmit)="submitHandler()">
  <div class="form-control">
    <label class="input-group">
      <span class="w-40">Title</span>
      <input class="input input-bordered w-full" formControlName="title" />
    </label>
  </div>

  <div class="form-control">
    <label class="input-group">
      <span class="w-40">Backdrop</span>
      <input class="input input-bordered w-full" formControlName="backdropUrl" />
    </label>
  </div>

  <div class="form-control">
    <label class="input-group">
      <span class="w-40">Poster</span>
      <input class="input input-bordered w-full" formControlName="posterUrl" />
    </label>
  </div>

  <div class="form-control">
    <label class="input-group">
      <span class="rounded-r-none rounded-b-none w-40">Release Date</span>
      <select class="select select-bordered rounded-none" formControlName="releaseMonth">
        <option *ngFor="let item of monthOptions; index as i" [value]="i">
          {{ item }}
        </option>
      </select>
      <select class="select select-bordered rounded-none" formControlName="releaseDay">
        <option *ngFor="let item of dayOptions$ | async; index as i" [value]="i">
          {{ item }}
        </option>
      </select>
      <select class="select select-bordered" formControlName="releaseYear">
        <option *ngFor="let item of yearOptions; index as i" [value]="item">
          {{ item }}
        </option>
      </select>
    </label>
  </div>

  <div class="form-control">
    <label class="input-group">
      <span class="w-40">Runtime (Mins)</span>
      <input class="input input-bordered" formControlName="runtime" />
    </label>
  </div>

  <div class="form-control">
    <label class="label">
      <span>Tagline</span>
    </label>
    <textarea class="textarea textarea-bordered w-full" formControlName="tagline"></textarea>
  </div>

  <div class="form-control">
    <label class="label">
      <span>Overview</span>
    </label>
    <textarea class="textarea textarea-bordered w-full" formControlName="overview"></textarea>
  </div>

  <div class="flex flex-row pt-5 space-x-2 justify-end">
    <button type="submit" class="btn btn-success w-32" [disabled]="!movieForm.valid">
      <!-- prettier-ignore -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
      </svg>
      Save
    </button>
    <button type="button" class="btn btn-error w-32" (click)="cancelHandler()">
      <!-- prettier-ignore -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
      Cancel
    </button>
  </div>
</form>
